.projects-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-list {
  display: grid;
  gap: 1rem;
  grid-template-columns: 70% 30%;
  width: 80%;
}



.project-col {
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.project-col-left {
  grid-column: 1;
}

.project-col-right {
  grid-column: 2;
}

.project-col-left {
  grid-column: 1;
  background-color: rgb(152, 117, 186);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-right {
  grid-column: 2;
  background-color: rgb(176, 191, 134);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 600px) {
  .projects-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex: 1 100%;
    max-width: 100%;
  }

  .project-tag {
    margin: 0px;
    font-size: small;
  }

  .project-desc {
    font-size: 14px;
    text-align: center;
  }
}

.projects-headline {
  grid-column: 1;
  border-radius: 12px;
  margin-bottom: 1rem;
}

.project-col-1 {
  grid-column: 1;
  background-color: rgb(152, 117, 186);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-2 {
  grid-column: 2;
  background-color: rgb(176, 191, 134);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-3 {
  grid-column: 1;
  background-color: rgb(237, 207, 136);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-4 {
  grid-column: 2;
  background-color: rgb(144, 216, 250);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-5 {
  grid-column: 1;
  background-color: rgb(107, 180, 140);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-col-6 {
  grid-column: 2;
  background-color: rgb(250, 144, 220);
  border-radius: 12px;
  padding: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.project-img {
  width: 200px;
  border-radius: 15px;
}

.project-col {
  position: relative;
  border-radius: 12px;
  overflow: hidden;
}

.projects-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  opacity: 0;
  transition: opacity 0.3s;
  z-index: 1;
}

.project-col:hover .projects-overlay {
  opacity: 1;
}

.project-tags {
  margin-top: 1rem;
  gap: 1rem;
}

.project-tag {
  background: rgb(128, 128, 128);
  border-radius: 12px;
  padding: 0.5rem;
  margin: 0.5rem;
  gap: 1rem;
}

.watch-live-button {
  margin-top: 2rem;
  background-color: rgb(227, 124, 124);
  padding: 1rem 2rem;
  outline: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}

.watch-live-button:hover {
  background-color: rgb(184, 95, 95);
}

.watch-live-button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
