.menu-button {
  font-size: 2rem;
  font-weight: 800;
  margin: 1rem;
  cursor: pointer;
  z-index: 1100; /* Högre än andra overlay */
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: antiquewhite;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Under hamburgermeny men över projekt overlay */
}

.menu {
  background-color: antiquewhite;
  padding: 10rem;
  border-radius: 8px;
  text-align: center;
  font-size: 50px;
  font-weight: 500;
  margin-top:-5rem;
  z-index: 10001;
}

.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.ul-list {
  list-style: none !important;
  padding: 0 !important;
}

.overlay-list {
  margin: 15px 0 !important;
  cursor: pointer !important;
}
