* {
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth; 
  }

  a {
    color: black !important;
  }

  a::after {
    color: black;
  }

  a:visited {
    color: black;
  }

  a:hover {
color: rgb(238, 161, 161);
  }